{sub_dirs, ["rel", "apps/estockd", "apps/www"]}.
{deps_dir, ["deps"]}.

{require_otp_vsn, "R14"}.

{deps, [
	{yaws, "1.*", {git, "git://github.com/klacke/yaws",{tag, "yaws-1.92"}}},
        {gproc, ".*", {git, "git://github.com/esl/gproc.git", "HEAD"}},
        {sync, ".*", {git, "git://github.com/rustyio/sync.git", "HEAD"}},
        {dh_date, ".*", {git, "git://github.com/daleharvey/dh_date.git", "HEAD"}}
%%	{erlando, ".*", {hg, "http://hg.rabbitmq.com/erlando/", "default"}}
       ]}.

{erl_opts, [
            warn_unused_vars,
            warn_export_all,
            warn_shadow_vars,
            warn_unused_import,
            warn_unused_function,
            warn_bif_clash,
            warn_unused_record,
            warn_deprecated_function,
            warn_obsolete_guard,
            warn_untyped_record,
            %% warn_missing_spec,
            debug_info,
            strict_validation,
            warn_exported_vars
            %% warn_export_vars,
            %% warnings_as_errors,
            %% no_debug_info
           ]}.

{clean_files, ["*.eunit", "apps/*/.eunit", "apps/*/ebin/*.beam", "rel/estockd"]}.

{cover_enabled, true}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
