{sub_dirs, ["rel", "apps/estockd"]}.
{deps_dir, ["deps"]}.

{require_otp_vsn, "R14"}.

{deps, [
        {gproc, ".*", {git, "git://github.com/esl/gproc.git", "HEAD"}}
       ]}.

{erl_opts, [
            warn_unused_vars,
            warn_export_all,
            warn_shadow_vars,
            warn_unused_import,
            warn_unused_function,
            warn_bif_clash,
            warn_unused_record,
            warn_deprecated_function,
            warn_obsolete_guard,
            debug_info,
            strict_validation,
            warn_exported_vars
            %% warn_export_vars,
            %% warn_missing_spec,
            %% warn_untyped_record,
            %% warnings_as_errors,
            %% no_debug_info
           ]}.

{clean_files, ["*.eunit", "apps/*/.eunit", "apps/*/ebin/*.beam", "rel/estockd"]}.

{cover_enabled, true}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
